.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #5A5CBE;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #484a98;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: white;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #5c5f6f;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #81838D;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #81838D;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #fff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #fff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #fff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #fff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* header */
/**
 * Header 19 stylesheet  
 * */
.header-19-sub {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url(../img/map_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .header-19-sub {
    padding-top: 100px;
  }
}
.header-19-sub .brand-logo {
  margin-bottom: 25px;
}
.header-19-sub > img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: none;
  height: 70%;
}
.header-19-sub > .container {
  position: relative;
}
.header-19-sub > .container-fluid {
  padding-right: 100px;
  padding-left: 100px;
  position: relative;
}
.header-19-sub h1 {
  margin: 0 0 30px;
  font-size: 5rem;
  font-weight: normal;
  color: #F7F7F7;
  font-weight: 400;
  line-height: 1.34;
}
.header-19-sub p {
  font-size: 2.5rem;
  font-weight: normal;
  color: #F7F7F7;
  font-weight: 300;
}
.header-19-sub .home-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.header-19-sub .btn {
  padding: 10px 8px;
}
.header-19-sub .btn svg {
  transform: translateY(30%);
}
@media (max-width: 480px) {
  .header-19-sub {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .header-19-sub h1 {
    font-size: 3.5rem;
    font-weight: normal;
    color: #F7F7F7;
  }
  .header-19-sub p {
    font-size: 2rem;
    font-weight: normal;
    color: #F7F7F7;
    font-weight: 100;
  }
}
/* content */
/**
 * Content 6 stylesheet  
 * */
.content-6 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .content-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.content-6 h3 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #5c5f6f;
  font-family: 'Ubuntu', sans-serif;
}
.content-6 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .content-6 h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: normal;
    color: #5c5f6f;
  }
}
.content-6 p {
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
  line-height: 26px;
  font-weight: 300;
}
.content-6 .lead {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #81838D;
  font-weight: 300;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .content-6 .lead {
    font-size: 18px;
    font-weight: normal;
    color: #81838D;
    line-height: 1.5;
    font-weight: 100;
  }
}
.content-6.v-center,
.content-6 .v-center {
  display: table;
  width: 100%;
}
.content-6.v-center > div,
.content-6 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-6.v-center,
  .content-6 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-6.v-center.row,
  .content-6 .v-center.row {
    display: block;
    width: auto;
  }
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
  .content-6.v-center.row > *,
  .content-6 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
@media (max-width: 480px) {
  .content-6 {
    padding-bottom: 210px;
  }
}
.content-6 .features > * {
  margin-top: 40px;
}
.content-6 .features h6 {
  font-size: 18px;
  font-weight: normal;
  color: #5c5f6f;
  font-weight: 400;
  margin-bottom: 14px;
  text-transform: none;
}
/**
 * Content 9 stylesheet  
 * */
.content-9 + .content-9 {
  margin-top: 0;
  margin-bottom: 230px;
  padding-top: 0;
  padding-bottom: 0;
}
.content-9 {
  padding-top: 230px;
  padding-bottom: 230px;
  position: relative;
}
@media (max-width: 991px) {
  .content-9 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-9 .container {
  position: initial;
}
@media (max-width: 996px) {
  .content-9 .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .content-9 .container {
    position: relative;
  }
}
@media (max-width: 991px) {
  .content-9 .composition-description-right {
    text-align: left;
  }
  .content-9 .composition-description-left {
    text-align: left;
  }
}
.content-9 .svg-composition-floating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.content-9 .svg-composition-floating-left {
  left: 10%;
  padding: 0 10%;
}
.content-9 .svg-composition-floating-right {
  right: 10%;
  padding: 0 10%;
}
@media (max-width: 1500px) {
  .content-9 .svg-composition-floating-left,
  .content-9 .svg-composition-floating-right {
    padding: 0 5%;
  }
  .content-9 .svg-composition-floating-left {
    left: 5%;
  }
  .content-9 .svg-composition-floating-right {
    right: 5%;
  }
}
@media (max-width: 991px) {
  .content-9 .svg-composition-floating {
    position: relative;
    top: initial;
    width: 75%;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
    -webkit-transform: translateY(0%) translateX(-50%);
  }
  .content-9 .svg-composition-floating-left,
  .content-9 .svg-composition-floating-right {
    padding: 0;
  }
  .content-9 .svg-composition-floating-left {
    margin-bottom: 15%;
  }
  .content-9 .svg-composition-floating-right {
    margin-top: 15%;
  }
}
.content-9 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #5c5f6f;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 24px;
  font-weight: 100;
}
.content-9 p {
  font-size: 18px;
  font-weight: normal;
  color: #81838D;
  line-height: 36px;
  font-weight: 100;
}
.content-9 h6 {
  text-transform: none;
  text--webkit-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}
@media (max-width: 991px) {
  .content-9 .svg-animated-flot-cases {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .content-9 .svg-animated-flot-cases {
    margin-top: 70px;
  }
}
.content-9 .info {
  font-size: 14px;
  font-weight: normal;
  color: #81838D;
  margin-top: 40px;
  font-weight: 100;
}
.content-9 .info span {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .content-9 .info {
    margin-top: 20px;
  }
}
/**
 * Content 10 stylesheet  
 * */
.content-10 {
  background-color: #3B394D;
  padding-top: 130px;
  padding-bottom: 0px;
  position: relative;
}
@media (max-width: 768px) {
  .content-10 {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}
.content-10 h3 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}
.content-10 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .content-10 h3 {
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
.content-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
  line-height: 26px;
  font-weight: 300;
}
.content-10 .lead {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .content-10 .lead {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 300;
  }
}
.content-10 .features .box {
  position: relative;
  padding: 50px;
  padding-right: 360px;
  min-height: 250px;
}
.content-10 .features .box.first,
.content-10 .features .box:first-child,
.content-10 .features .box:first-of-type {
  margin-top: 0;
  border-top: 0;
}
.content-10 .features .box > .svg-art {
  position: absolute;
  right: 50px;
  bottom: -1px;
}
.content-10 .features .box.box-ligth-color {
  background-color: #4B4C67;
}
.content-10 .features .box.box-medium-color {
  background-color: #3E3F5C;
}
.content-10 .features .box.box-dark-color {
  background-color: #323348;
}
@media (max-width: 767px) {
  .content-10 .features .box {
    padding: 40px;
    padding-bottom: 0;
    margin-right: -50px;
    margin-left: -50px;
  }
  .content-10 .features .box > .svg-art {
    margin-top: 50px;
    position: relative;
    right: initial;
    bottom: inital;
  }
}
.content-10 .features h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #FAFBFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.3;
}
.content-10 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #d1d1dc;
  font-weight: 400;
}
.content-36 {
  background-image: url(../img/bg-f.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #95a5a6;
  padding-top: 230px;
  padding-bottom: 180px;
}
.content-36 h2 {
  color: #fff;
  font-size: 46px;
  line-height: 55px;
  margin: 0 0 30px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .content-36 h2 {
    font-size: 36px;
  }
}
.content-36 p {
  margin: 0 auto;
  width: 48%;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 767px) {
  .content-36 p {
    width: 80%;
  }
}
/**
 * Copntact 1 stylesheet  
 * */
.contacts-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-1 h3 {
  font-size: 30px;
  margin: 0 0 60px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .contacts-1 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-1 h6,
.contacts-1 .h6 {
  margin: 0 0 12px;
  font-size: 16px;
  text-transform: none;
  font-weight: 300;
}
.contacts-1 label.h6 {
  margin-bottom: 18px;
}
.contacts-1 label.h6 {
  margin-bottom: 18px;
}
.contacts-1 p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
.contacts-1 b {
  font-size: 16px;
  font-weight: normal;
  color: #5c5f6f;
}
.contacts-1 a {
  color: #1abc9c;
}
.contacts-1 a:hover,
.contacts-1 a:focus,
.contacts-1 a.active {
  color: #15967d;
}
.contacts-1 form {
  margin: 0;
}
.contacts-1 form input,
.contacts-1 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
  font-size: 17px;
  line-height: 22px;
}
.contacts-1 form input:focus,
.contacts-1 form textarea:focus {
  border-color: #5A5CBE;
}
.contacts-1 form input {
  height: 45px;
}
.contacts-1 form label {
  margin-bottom: 18px;
}
.contacts-1 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-1 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-1 form .btn.btn-primary:hover,
.contacts-1 form .btn.btn-primary:focus {
  background-color: #5A5CBE;
}
.contacts-1 form .btn.btn-primary:active,
.contacts-1 form .btn.btn-primary.active {
  background-color: #4d4ea2;
}
.contacts-1 .additional {
  margin-bottom: 45px;
}
.contacts-1 .phone {
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
}
.contacts-1 .phone big {
  display: block;
  font-size: 46px;
  letter-spacing: normal;
  white-space: nowrap;
  color: #5a5cbe;
  margin-bottom: 1rem;
}
@media (max-width: 992px) and (min-width: 768px) {
  .contacts-1 .phone big {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .contacts-1 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-1 form {
    margin-bottom: 80px;
  }
  .contacts-1 form label {
    margin-bottom: 0px;
  }
  .contacts-1 .phone big {
    font-size: 40px;
  }
}
/* footer */
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #3B394D;
  color: #bdc3c7;
}
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-3.v-center,
  .footer-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-3.v-center.row,
  .footer-3 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
  .footer-3.v-center.row > *,
  .footer-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.footer-3 .row.v-center {
  padding-left: 0;
  padding-right: 0;
}
.footer-3 a {
  color: white;
  font-weight: normal;
}
.footer-3 a:hover,
.footer-3 a:focus,
.footer-3 a.active {
  color: #bdc3c7;
}
.footer-3 h1,
.footer-3 .h1,
.footer-3 h2,
.footer-3 .h2,
.footer-3 h3,
.footer-3 .h3,
.footer-3 h4,
.footer-3 .h4,
.footer-3 h5,
.footer-3 .h5,
.footer-3 h6,
.footer-3 .h6 {
  color: white;
}
.footer-3 .brand {
  font-size: 25px;
  font-weight: normal;
  color: white;
}
.footer-3 .additional-links {
  color: #CCCFDB;
  font-weight: 400;
}
.footer-3 .additional-links a {
  color: #CCCFDB;
  font-weight: 400;
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-3 .additional-links a:hover,
.footer-3 .additional-links a:focus,
.footer-3 .additional-links a.active {
  color: white;
}
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: white;
  text-transform: none;
}
.footer-3 .address {
  line-height: 1.6;
  color: #CCCFDB;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer-3 .row > [class*="col-sm-"] {
    margin-top: 30px;
  }
  .footer-3 .row > [class*="col-sm-"]:first-child {
    margin-top: 0;
  }
}
body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.page-wrapper {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.header-19-sub {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100%;
}
.header-19-sub .container {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-4,
.footer-6 {
  padding-top: 80px;
  padding-bottom: 80px;
}
b,
strong {
  font-weight: 500;
}
.contacts-1 a {
  color: white;
}
.contacts-1 a:focus,
.contacts-1 a:hover {
  color: white;
}
@media (max-width: 1200px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .content-9 .logo {
    padding-bottom: 6rem;
  }
}
