.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #5A5CBE;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #484a98;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: white;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #5c5f6f;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #81838D;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #81838D;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/**
 * Copntact 1 stylesheet  
 * */
.contacts-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-1 h3 {
  font-size: 30px;
  margin: 0 0 60px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .contacts-1 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-1 h6,
.contacts-1 .h6 {
  margin: 0 0 12px;
  font-size: 16px;
  text-transform: none;
  font-weight: 300;
}
.contacts-1 label.h6 {
  margin-bottom: 18px;
}
.contacts-1 label.h6 {
  margin-bottom: 18px;
}
.contacts-1 p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
.contacts-1 b {
  font-size: 16px;
  font-weight: normal;
  color: #5c5f6f;
}
.contacts-1 a {
  color: #1abc9c;
}
.contacts-1 a:hover,
.contacts-1 a:focus,
.contacts-1 a.active {
  color: #15967d;
}
.contacts-1 form {
  margin: 0;
}
.contacts-1 form input,
.contacts-1 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
  font-size: 17px;
  line-height: 22px;
}
.contacts-1 form input:focus,
.contacts-1 form textarea:focus {
  border-color: #5A5CBE;
}
.contacts-1 form input {
  height: 45px;
}
.contacts-1 form label {
  margin-bottom: 18px;
}
.contacts-1 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-1 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-1 form .btn.btn-primary:hover,
.contacts-1 form .btn.btn-primary:focus {
  background-color: #5A5CBE;
}
.contacts-1 form .btn.btn-primary:active,
.contacts-1 form .btn.btn-primary.active {
  background-color: #4d4ea2;
}
.contacts-1 .additional {
  margin-bottom: 45px;
}
.contacts-1 .phone {
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
}
.contacts-1 .phone big {
  display: block;
  font-size: 46px;
  letter-spacing: normal;
  white-space: nowrap;
  color: #5a5cbe;
  margin-bottom: 1rem;
}
@media (max-width: 992px) and (min-width: 768px) {
  .contacts-1 .phone big {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .contacts-1 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-1 form {
    margin-bottom: 80px;
  }
  .contacts-1 form label {
    margin-bottom: 0px;
  }
  .contacts-1 .phone big {
    font-size: 40px;
  }
}
/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 40px;
  font-weight: 300px;
}
@media (max-width: 480px) {
  .contacts-2 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-2 label.h6 {
  margin-bottom: 12px;
}
.contacts-2 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-2 a {
  color: #1abc9c;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #15967d;
}
.contacts-2 form {
  margin: 0;
  padding: 46px;
  border: 2px solid #ebedee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.contacts-2 form input,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #1abc9c;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 45px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background-color: #e74c3c;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background-color: #c44133;
}
.contacts-2 .map {
  height: 165px;
  margin: 25px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-2 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-2 form {
    margin-bottom: 80px;
    padding: 15px;
  }
  .contacts-2 form label {
    margin-bottom: 0px;
  }
}
/**
 * Copntact 3 stylesheet  
 * */
.contacts-3 {
  padding-top: 110px;
  padding-bottom: 50px;
}
.contacts-3 h3 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 300px;
}
.contacts-3 h6,
.contacts-3 .h6 {
  margin: 0 0 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-3 label.h6 {
  margin-bottom: 20px;
}
.contacts-3 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-3 a {
  color: #1abc9c;
}
.contacts-3 a:hover,
.contacts-3 a:focus,
.contacts-3 a.active {
  color: #15967d;
}
.contacts-3 form {
  margin: 30px 0 0;
}
.contacts-3 form input,
.contacts-3 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
}
.contacts-3 form input:focus,
.contacts-3 form textarea:focus {
  border-color: #1abc9c;
}
.contacts-3 form input {
  height: 45px;
}
.contacts-3 form label {
  margin-bottom: 18px;
}
.contacts-3 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-3 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-3 form .btn.btn-primary:hover,
.contacts-3 form .btn.btn-primary:focus {
  background-color: #e74c3c;
}
.contacts-3 form .btn.btn-primary:active,
.contacts-3 form .btn.btn-primary.active {
  background-color: #c44133;
}
.contacts-3 .map {
  height: 255px;
  margin: 35px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-3 .links {
  margin: 20px 0 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ebedee;
}
.contacts-3 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-3 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-3 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-3 form {
    margin-bottom: 80px;
  }
  .contacts-3 form label {
    margin-bottom: 0px;
  }
}
/**
 * Copntact 4 stylesheet  
 * */
.contacts-4 {
  background: #34495e url('../../../common-files/img/map.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #bdc3c7;
  text-align: right;
  padding-top: 175px;
  padding-bottom: 180px;
}
.contacts-4 h3 {
  font-size: 30px;
  margin: 0 0 12px;
  color: #fff;
  font-weight: 300px;
}
.contacts-4 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-4 a {
  color: #1abc9c;
}
.contacts-4 a:hover,
.contacts-4 a:focus,
.contacts-4 a.active {
  color: #15967d;
}
.contacts-4 .content {
  margin: 0 80px;
}
@media (max-width: 767px) {
  .contacts-4 .content {
    margin: 0;
  }
}
.contacts-4 .social-btns {
  white-space: nowrap;
  margin-bottom: 35px;
}
.contacts-4 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
  width: 30px;
  height: 38px;
  overflow: hidden;
  text-align: center;
  color: #1abc9c;
}
.contacts-4 .social-btns > *:first-child {
  margin-left: 0;
}
.contacts-4 .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.contacts-4 .social-btns > * > *:first-child {
  color: #fff;
}
.contacts-4 .social-btns > *:hover > * {
  top: -100%;
}
.contacts-4 .links {
  margin: 35px 0 0;
  font-size: 47px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  word-break: break-all;
}
.contacts-4 .links a {
  padding-bottom: 3px;
  color: #14ddb3;
  border-bottom: 2px solid;
}
.contacts-4 .links a:hover,
.contacts-4 .links a:focus,
.contacts-4 .links a.active {
  color: #10b18f;
}
@media (max-width: 480px) {
  .contacts-4 .links a {
    font-size: 26px;
  }
}
/**
 * Copntact 5 stylesheet  
 * */
.contacts-5 {
  padding-bottom: 100px;
}
.contacts-5 h6 {
  font-size: 18px;
  text-transform: none;
}
.contacts-5 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-5 a {
  color: #1abc9c;
}
.contacts-5 a:hover,
.contacts-5 a:focus,
.contacts-5 a.active {
  color: #15967d;
}
.contacts-5 .map {
  height: 550px;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .contacts-5 .map {
    height: 480px;
    margin-bottom: 80px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .contacts-5 .box {
    margin-top: 33px;
  }
  .contacts-5 .box.box-first {
    margin-top: 0;
  }
}
body .delimiter-big {
  margin-top: 110px;
}
