// There is a path to Startup framework
@startup-basePath: "../";

@import '@{startup-basePath}flat-ui/less/variables.less';
@import '@{startup-basePath}flat-ui/less/mixins.less';

@import '@{startup-basePath}common-files/less/mixins.less';
@import '@{startup-basePath}common-files/less/common.less';
@import '@{startup-basePath}common-files/less/navbar.less';
@import '@{startup-basePath}common-files/less/helper.less';

/* header */
@import '@{startup-basePath}ui-kit/ui-kit-header/less/header-19.less';

/* content */

@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-6.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-9.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-10.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-36.less';

@import '@{startup-basePath}ui-kit/ui-kit-contacts/less/contact-1.less';

/* footer */
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/footer-3.less';


body{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.page-wrapper{
	height: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.header-19-sub{
    display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
    flex-direction: column;
    -webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	min-height: 100%;

    .container{
    	flex: 1;
	   	display: -webkit-box;
	  	display: -moz-box;
	  	display: -ms-flexbox;
	  	display: -webkit-flex;
	  	display: flex;
	    flex-direction: column;
	    justify-content: center;
    }
}

.content-4, .footer-6 {
    padding-top: 80px;
    padding-bottom: 80px;
}

b, strong {
    font-weight: 500;
}

.contacts-1 a {
     color: white; 
}
.contacts-1 a:focus,
.contacts-1 a:hover {
	color: white; 
}

@media(max-width: 1200px){
	.container{
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media(max-width: 767px){
	.content-9{
		.logo{
			padding-bottom: 6rem;
		}
	}
}