.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #5A5CBE;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #484a98;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: white;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #5c5f6f;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #81838D;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #81838D;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .read-man {
  display: none;
}
.dockbar {
  -webkit-transition: z-index 4s ease 0s;
  -moz-transition: z-index 4s ease 0s;
  -o-transition: z-index 4s ease 0s;
  transition: z-index 4s ease 0s;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: 'Ubuntu', sans-serif;
}
@media (max-width: 1200px) {
  .dockbar.navbar-fixed-top {
    position: fixed;
  }
  .dockbar.navbar-fixed-top .container {
    width: auto;
  }
}
.dockbar .menu-btn {
  display: none;
}
@media (max-width: 1200px) {
  .dockbar .menu-btn {
    display: inline-block;
    float: right;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 66px;
    height: 66px;
    background: none #1b1f23;
    border: 0 none;
    border-left: 1px solid #272b2f;
    color: #919497;
  }
  .dockbar .menu-btn:hover,
  .dockbar .menu-btn:focus {
    border: 0 none;
    border-left: 1px solid #272b2f;
    color: #ffffff;
  }
  .dockbar .menu-btn span {
    content: '';
    background-image: url("../../../common-files/icons/menu-icon@2x.png");
    -webkit-background-size: 17px 12px;
    -moz-background-size: 17px 12px;
    -o-background-size: 17px 12px;
    background-size: 17px 12px;
    width: 17px;
    height: 12px;
  }
  .dockbar .menu-btn span:before {
    content: '';
  }
}
.dockbar .main-menu {
  display: block;
  overflow: hidden;
  background-color: #1b1f23;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}
.dockbar .main-menu > div {
  height: 65px;
}
.dockbar .main-menu > div > div {
  height: 65px;
}
.dockbar .main-menu a.man-brand {
  display: inline-block;
  float: left;
  text-decoration: none;
  line-height: 65px;
}
@media (max-width: 1200px) {
  .dockbar .main-menu a.man-brand {
    line-height: 65px;
    width: auto;
  }
}
.dockbar .main-menu a.man-brand .logotype {
  font-size: 16px;
  font-weight: normal;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}
.dockbar .main-menu a.man-brand .doc-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #919497;
  font-weight: normal;
}
.dockbar .main-menu dl {
  display: inline-block;
  margin: 0;
}
@media (max-width: 1200px) {
  .dockbar .main-menu dl {
    display: none;
  }
}
.dockbar .main-menu dl dd {
  margin: 0;
  padding: 17px 0;
  line-height: 31px;
  display: inline-block;
}
.dockbar .main-menu dl dd a {
  font-size: 12px;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-right: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #919497;
  display: block;
}
.dockbar .main-menu dl dd a:hover,
.dockbar .main-menu dl dd a:focus,
.dockbar .main-menu dl dd a.active {
  color: white;
}
.dockbar .main-menu dl dd a.active {
  text-decoration: none;
  color: white;
}
body {
  padding-top: 66px;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}
body.hovered {
  background-color: #ecf0f1;
}
body .delimiter-big {
  margin-top: 180px;
}
body .delimiter {
  margin-top: 30px;
}
body section[class*=content-] {
  margin-top: 0;
  margin-bottom: 0;
}
body .colapsed-menu {
  display: none;
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 25px 0;
  margin: 0;
  overflow: auto;
  background-color: #222527;
}
body .colapsed-menu dl {
  position: relative;
  display: block;
  margin: 0;
}
body .colapsed-menu dl dd {
  border-bottom: 1px solid #24292D;
  line-height: 45px;
  margin: 0;
  -webkit-box-sizing: 'border-box';
  -moz-box-sizing: 'border-box';
  box-sizing: 'border-box';
  width: 100%;
  text-transform: uppercase;
}
body .colapsed-menu dl dd dd {
  padding: 0 0 0 20px;
  font-size: 12px;
  border-top: 1px solid #24292D;
  border-bottom: 0;
  line-height: 30px;
}
body .colapsed-menu dl dd > a {
  display: block;
  padding: 0 0 0 35px;
  color: #5B5E61;
}
body .colapsed-menu dl dd > a:hover,
body .colapsed-menu dl dd > a:focus,
body .colapsed-menu dl dd > a.active {
  color: white;
}
body .colapsed-menu dl dd > a.active {
  text-decoration: none;
  color: white;
}
body .colapsed-menu dl dd > a.active:after {
  display: none;
}
body .colapsed-menu.show-menu {
  display: block;
}
body .colapsed-menu::-webkit-scrollbar {
  display: none;
}
/**
 * Footer 1 stylesheet  
 * */
.footer-1 {
  padding-top: 85px;
  padding-bottom: 85px;
  font-size: 14px;
  color: #bdc3c7;
}
.footer-1 .lead {
  margin-bottom: 15px;
  margin-top: -10px;
  font-size: 22px;
  font-weight: normal;
  color: white;
  font-weight: 300;
  letter-spacing: -1px;
}
.footer-1 .lead b {
  font-weight: 500;
}
.footer-1 .social-btns {
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-1 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #979c9f;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-1 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-1 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-1 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-1 .social-btns > *:hover > * {
  top: -100%;
}
.footer-1 .btn.btn-danger {
  background-color: #c0392b;
}
.footer-1 .btn.btn-danger:hover,
.footer-1 .btn.btn-danger:focus {
  background-color: #cd6155;
}
.footer-1 .btn.btn-danger:active,
.footer-1 .btn.btn-danger.active {
  background-color: #a33025;
}
.footer-1 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-1 a:hover,
.footer-1 a:focus,
.footer-1 a.active {
  color: #979c9f;
}
.footer-1 nav h6 {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  color: white;
  line-height: 16px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: none;
}
.footer-1 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-1 nav ul li {
  margin-bottom: 5px;
}
.footer-1 .buy-btn {
  text-align: center;
}
.footer-1 .buy-btn a.btn {
  font-size: 15px;
  font-weight: normal;
  color: white;
}
.footer-1 .buy-btn .btn {
  margin-bottom: 17px;
}
.footer-1 .additional-links {
  border-top: 1px solid #374859;
  padding-top: 17px;
  font-size: 14px;
  font-weight: normal;
  color: #95a5a6;
}
@media (max-width: 767px) {
  .footer-1 .additional-links {
    margin-top: 17px;
    margin-bottom: 0;
  }
}
.footer-1 .additional-links a {
  margin-right: 10px;
  color: #95a5a6;
}
.footer-1 .additional-links a:hover,
.footer-1 .additional-links a:focus,
.footer-1 .additional-links a.active {
  color: #778485;
}
@media (max-width: 767px) {
  .footer-1 .col-sm-6 {
    margin-bottom: 20px;
  }
  .footer-1 nav .col-sm-2,
  .footer-1 .buy-btn {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .footer-1 nav .col-sm-2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .footer-1 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .footer-1 .buy-btn {
    float: none;
    clear: both;
    width: auto;
    padding-top: 15px;
    margin: 0;
  }
  .footer-1 .buy-btn .btn {
    margin: 0 0 10px;
  }
  .footer-1 nav .col-sm-2 {
    width: 47%;
    margin-left: 6%;
  }
}
.footer-1 .fb_iframe_widget {
  vertical-align: top;
}
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
}
.footer-2 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #979c9f;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #979c9f;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-2 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-2 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-2 .social-btns > *:hover > * {
  top: -100%;
}
.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
}
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #3B394D;
  color: #bdc3c7;
}
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-3.v-center,
  .footer-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-3.v-center.row,
  .footer-3 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
  .footer-3.v-center.row > *,
  .footer-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.footer-3 .row.v-center {
  padding-left: 0;
  padding-right: 0;
}
.footer-3 a {
  color: white;
  font-weight: normal;
}
.footer-3 a:hover,
.footer-3 a:focus,
.footer-3 a.active {
  color: #bdc3c7;
}
.footer-3 h1,
.footer-3 .h1,
.footer-3 h2,
.footer-3 .h2,
.footer-3 h3,
.footer-3 .h3,
.footer-3 h4,
.footer-3 .h4,
.footer-3 h5,
.footer-3 .h5,
.footer-3 h6,
.footer-3 .h6 {
  color: white;
}
.footer-3 .brand {
  font-size: 25px;
  font-weight: normal;
  color: white;
}
.footer-3 .additional-links {
  color: #CCCFDB;
  font-weight: 400;
}
.footer-3 .additional-links a {
  color: #CCCFDB;
  font-weight: 400;
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-3 .additional-links a:hover,
.footer-3 .additional-links a:focus,
.footer-3 .additional-links a.active {
  color: white;
}
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: white;
  text-transform: none;
}
.footer-3 .address {
  line-height: 1.6;
  color: #CCCFDB;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer-3 .row > [class*="col-sm-"] {
    margin-top: 30px;
  }
  .footer-3 .row > [class*="col-sm-"]:first-child {
    margin-top: 0;
  }
}
/**
 * Footer 4 stylesheet  
 * */
.footer-4 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}
.footer-4 .brand {
  font-size: 20px;
  font-weight: normal;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
.footer-4 .brand:hover,
.footer-4 .brand:focus,
.footer-4 .brand.active {
  color: #1abc9c;
}
/**
 * Footer 5 stylesheet  
 * */
.footer-5 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.footer-5 .brand {
  display: inline-block;
  margin-bottom: 25px;
}
.footer-5 .text {
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 80px;
  line-height: 1.45;
}
.footer-5 .btn {
  margin-top: 30px;
  background-color: #ebedee;
  color: #81838D;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 13px 8px;
}
.footer-5 .btn:hover,
.footer-5 .btn:focus {
  background-color: #eff1f1;
}
.footer-5 .btn:active,
.footer-5 .btn.active {
  background-color: #c8c9ca;
}
.footer-5 .btn [class^="fui-"] {
  font-size: 16px;
  font-weight: normal;
  color: #3498db;
}
@media (max-width: 991px) {
  .footer-5 .text {
    margin: 0;
  }
}
/**
 * Footer 6 stylesheet  
 * */
.footer-6 {
  padding-top: 110px;
  padding-bottom: 110px;
  color: #7f8c8d;
}
.footer-6 a {
  font-weight: normal;
}
@media (max-width: 480px) {
  .footer-6 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer-6 .brand {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  line-height: 18px;
}
.footer-6 .brand:hover,
.footer-6 .brand:focus {
  color: #5A5CBE;
}
.footer-6 h6 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  text-transform: none;
}
@media (max-width: 767px) {
  .footer-6 h6 {
    margin: 0 0 5px;
  }
}
.footer-6 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-6 nav ul li {
  margin-bottom: 8px;
}
.footer-6 nav ul li a {
  color: #81838D;
}
.footer-6 nav ul li a:hover,
.footer-6 nav ul li a:focus {
  color: #5A5CBE;
}
@media (max-width: 480px) {
  .footer-6 nav h6 {
    margin: 0 0 12px;
  }
}
@media (max-width: 767px) {
  .footer-6 nav {
    *zoom: 1;
  }
  .footer-6 nav:before,
  .footer-6 nav:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .footer-6 nav:after {
    clear: both;
  }
  .footer-6 nav:before,
  .footer-6 nav:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-6 nav:after {
    clear: both;
  }
  .footer-6 nav .col-sm-2 {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .footer-6 nav .col-sm-2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .footer-6 nav {
    margin-bottom: 20px;
  }
}
.footer-6 .input-group {
  margin-bottom: 20px;
}
.footer-6 .input-group input[type="text"] {
  width: 168px;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  -o-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}
@media (min-width: 1200px) {
  .footer-6 .input-group input[type="text"] {
    width: 218px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-6 .input-group input[type="text"] {
    width: 113px;
  }
}
@media (max-width: 767px) {
  .footer-6 .input-group input[type="text"] {
    width: 100%;
  }
}
.footer-6 .input-group input[type="text"]:hover {
  border-color: #cacfd2;
}
.footer-6 .input-group input[type="text"]:focus {
  border-color: #1abc9c;
}
.footer-6 .social-btns {
  white-space: nowrap;
}
.footer-6 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #1abc9c;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 480px) {
  .footer-6 .social-btns > * {
    margin-top: 15px;
    margin-bottom: 7px;
  }
}
.footer-6 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-6 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-6 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-6 .social-btns > *:hover > * {
  top: -100%;
}
.footer-6 .social-btns .fui-twitter:first-child {
  margin-top: 2px;
}
@media (max-width: 767px) {
  .footer-6 [class*="col-sm-"] {
    margin-top: 15px;
  }
  .footer-6 .row:first-child {
    margin-top: -15px;
  }
}
@media (max-width: 480px) {
  .footer-6 .input-group {
    margin-bottom: 0;
  }
}
/**
 * Footer 7 stylesheet  
 * */
.footer-7 {
  padding-top: 150px;
  padding-bottom: 110px;
  color: #bdc3c7;
  line-height: 25px;
  text-align: center;
  position: relative;
}
.footer-7.v-center,
.footer-7 .v-center {
  display: table;
  width: 100%;
}
.footer-7.v-center > div,
.footer-7 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-7.v-center.row:before,
  .footer-7 .v-center.row:before,
  .footer-7.v-center.row:after,
  .footer-7 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-7.v-center,
  .footer-7 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-7.v-center.row,
  .footer-7 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-7.v-center.row:before,
  .footer-7 .v-center.row:before,
  .footer-7.v-center.row:after,
  .footer-7 .v-center.row:after {
    display: none;
  }
  .footer-7.v-center.row > *,
  .footer-7 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.footer-7:before {
  content: '';
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  height: 1px;
  overflow: hidden;
  background: #e2e4e6;
}
.footer-7 a {
  color: #bdc3c7;
  font-weight: 500;
}
.footer-7 a:hover,
.footer-7 a:focus,
.footer-7 a.active {
  color: #a1a6a9;
}
.footer-7 nav {
  font-family: 'Ubuntu', sans-serif;
}
.footer-7 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-7 nav ul li {
  display: inline-block;
  min-width: 100px;
  line-height: 25px;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
  font-weight: 500;
}
@media (max-width: 767px) {
  .footer-7 nav ul li {
    min-width: 70px;
    font-size: 12px;
    font-weight: normal;
    color: inherit;
    font-weight: 500;
  }
}
.footer-7 nav ul li .scroll-top {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  color: white;
  background: #bdc3c7;
}
.footer-7 nav ul li .scroll-top:hover,
.footer-7 nav ul li .scroll-top:focus,
.footer-7 nav ul li .scroll-top.active {
  color: white;
}
.footer-7 nav ul li .scroll-top:hover,
.footer-7 nav ul li .scroll-top:focus {
  background: #a1a6a9;
}
.footer-7 nav ul li .scroll-top:active,
.footer-7 nav ul li .scroll-top.active {
  background: #84898b;
}
.footer-7 > .container {
  position: relative;
}
.footer-7 .container > a {
  position: absolute;
  top: 15px;
  left: 15px;
}
.footer-7 .container > a [class*="fui-"] {
  font-size: 22px;
}
.footer-7 .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 15px;
  right: 15px;
}
.footer-7 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  width: 16px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-7 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-7 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-7 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-7 .social-btns > *:hover > * {
  top: -100%;
}
@media (max-width: 600px) {
  .footer-7 .container > a,
  .footer-7 .scroll-btn {
    display: none;
  }
  .footer-7 nav ul li {
    float: none;
    margin: 18px 0 0;
    display: block;
    text-align: left;
  }
  .footer-7 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-7 .social-btns {
    position: static;
    text-align: left;
    margin-top: 20px;
    margin-bottom: -5px;
  }
}
/**
 * Footer 8 stylesheet  
 * */
.footer-8 {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}
.footer-8 a {
  color: #81838D;
  font-weight: normal;
}
.footer-8 a:hover,
.footer-8 a:focus,
.footer-8 a.active {
  color: #1abc9c;
}
.footer-8 nav {
  margin-bottom: 40px;
}
.footer-8 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
}
.footer-8 nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.footer-8 nav ul li:first-child {
  margin-left: 0;
}
.footer-8 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #81838D;
}
.footer-8 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-8 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
  .footer-8 nav {
    margin-bottom: 22px;
  }
  .footer-8 nav ul li {
    display: block;
    float: none;
    margin: 18px 0 0;
  }
  .footer-8 nav ul li:first-child {
    margin-top: 0;
  }
}
/**
 * Footer 9 stylesheet  
 * */
.footer-9-map {
  padding: 0;
  height: 550px;
  min-height: 300px;
}
@media (max-width: 1200px) {
  .footer-9-map {
    height: 300px;
  }
}
.footer-9 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.footer-9 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-transform: none;
}
.footer-9 p {
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
  font-family: 'Ubuntu', sans-serif;
  line-height: 26px;
}
.footer-9 a {
  font-size: 16px;
  color: #e74c3c;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  .footer-9 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .footer-9 .box {
    margin-top: 33px;
  }
  .footer-9 .box.box-first {
    margin-top: 0;
  }
}
/**
 * Footer 10 stylesheet  
 * */
.footer-10 {
  position: relative;
  background: rgba(235, 237, 238, 0.76);
}
.footer-10 > .container {
  padding-top: 90px;
  padding-bottom: 80px;
}
.footer-10 .brand {
  display: inline-block;
  padding: 3px 0 0;
  font-size: 25px;
  font-weight: normal;
  color: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #34495e;
}
.footer-10 .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.footer-10 .brand:hover,
.footer-10 .brand:focus,
.footer-10 .brand.active {
  color: #e74c3c;
}
.footer-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #81838D;
  line-height: 25.6px;
}
.footer-10 a {
  color: #e74c3c;
  font-weight: normal;
}
.footer-10 a:hover,
.footer-10 a:focus,
.footer-10 a.active {
  color: #b93d30;
}
.footer-10 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-weight: 500;
  text-transform: none;
}
.footer-10 nav h6 {
  margin: 0 0 15px;
  line-height: 24px;
  color: #34495e;
  font-weight: 500;
}
.footer-10 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-10 nav ul li {
  margin-bottom: 8px;
}
.footer-10 nav a {
  color: #81838D;
}
.footer-10 nav a:hover,
.footer-10 nav a:focus,
.footer-10 nav a.active {
  color: #676971;
}
@media (max-width: 767px) {
  .footer-10 .col-sm-2 {
    float: left;
    width: 50%;
  }
  .footer-10 .col-sm-2 + .col-sm-2 + .col-sm-2 {
    clear: left;
    margin-top: 30px;
  }
  .footer-10 .col-sm-2 + .col-sm-2 + .col-sm-2 + .col-sm-2 {
    clear: none;
    margin-top: 30px;
  }
  .footer-10 .box {
    margin-top: 33px;
  }
}
@media (max-width: 480px) {
  .footer-10 .box {
    margin-top: 33px;
  }
  .footer-10 .box.box-first {
    margin-top: 0;
  }
  .footer-10 .brand {
    margin-bottom: 33px;
  }
}
.footer-10 .subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-10 .subscribe-form .col-sm-4 {
  text-align: right;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form .col-sm-4 {
    text-align: center;
  }
}
.footer-10 .subscribe-form form {
  margin: 0;
  position: relative;
}
.footer-10 .subscribe-form input[type="text"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 60px;
  font-size: 50px;
  font-weight: normal;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]:-moz-placeholder {
  color: #fff;
}
.footer-10 .subscribe-form input[type="text"]::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.footer-10 .subscribe-form input[type="text"]:-ms-input-placeholder {
  color: #fff;
}
.footer-10 .subscribe-form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}
.footer-10 .subscribe-form input[type="text"].placeholder {
  color: #fff;
}
.footer-10 .subscribe-form input[type="text"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 60px;
  font-size: 50px;
  font-weight: normal;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.footer-10 .subscribe-form .btn {
  margin-top: 8px;
  font-weight: 500;
  width: 220px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media (max-width: 480px) {
  .footer-10 .subscribe-form input[type="text"],
  .footer-10 .subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    font-weight: normal;
    color: inherit;
    text-align: center;
  }
}
/**
 * Footer 11 stylesheet  
 * */
.footer-11 {
  padding-top: 110px;
  text-align: center;
}
.footer-11 > .container {
  padding-bottom: 40px;
  position: relative;
}
.footer-11 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-11 a:hover,
.footer-11 a:focus,
.footer-11 a.active {
  color: #3498db;
}
.footer-11 .brand {
  position: absolute;
  top: 0;
  left: 15px;
}
.footer-11 .brand img:first-child {
  float: left;
  margin: 0 15px 0 0;
}
.footer-11 nav {
  margin: 0 100px;
}
.footer-11 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
}
.footer-11 nav ul li {
  display: inline-block;
  margin-left: 25px;
}
.footer-11 nav ul li:first-child {
  margin-left: 0;
}
.footer-11 nav ul li a {
  font-size: 18px;
  font-weight: normal;
  font-weight: 500;
  color: #34495e;
}
.footer-11 nav ul li a:hover,
.footer-11 nav ul li a:focus,
.footer-11 nav ul li a.active {
  color: #bdc3c7;
}
.footer-11 .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 15px;
}
.footer-11 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  width: 16px;
  height: 19px;
  overflow: hidden;
  text-align: center;
}
.footer-11 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-11 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-11 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-11 .social-btns > *:hover > * {
  top: -100%;
}
.footer-11 .additional-links {
  border-top: 2px solid #ecf0f1;
  background: #f4f5f6;
  padding: 50px 0;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
}
@media (max-width: 767px) {
  .footer-11 .additional-links {
    margin-right: -5px;
    margin-left: -5px;
  }
  .footer-11 .additional-links .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer-11 .additional-links .lead {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
}
.footer-11 .additional-links .lead b {
  font-weight: 500;
}
.footer-11 .additional-links a {
  margin: 0 10px;
  color: #95a5a6;
  font-family: 'Ubuntu', sans-serif;
}
.footer-11 .additional-links a:hover,
.footer-11 .additional-links a:focus,
.footer-11 .additional-links a.active {
  color: #778485;
}
@media (max-width: 480px) {
  .footer-11 {
    border-top: 0;
    text-align: left;
  }
  .footer-11 .brand {
    display: none;
  }
  .footer-11 nav {
    margin-left: -20px;
    margin-right: -20px;
  }
  .footer-11 nav ul li {
    float: none;
    margin: 0;
    display: block;
    text-align: left;
    border-bottom: 2px solid #ecf0f1;
    padding: 11px 20px;
  }
  .footer-11 nav ul li:first-child {
    margin-top: 0;
    border-top: 2px solid #ecf0f1;
  }
  .footer-11 .social-btns {
    position: static;
    margin-top: 30px;
    margin-bottom: 11px;
  }
  .footer-11 .additional-links a {
    margin: 0 20px 0 0;
    line-height: 18.0667px;
  }
}
/**
 * Footer 12 stylesheet  
 * */
.footer-12 {
  padding-top: 190px;
  padding-bottom: 110px;
  text-align: center;
  font-size: 84.3px;
  font-weight: normal;
  color: rgba(44, 62, 80, 0.2);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
}
.footer-12:before {
  content: '';
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  height: 2px;
  overflow: hidden;
  background: #ebedee;
}
.footer-12 [class*="fui-"] {
  font-size: 60px;
  font-weight: normal;
  color: #e74c3c;
  vertical-align: baseline;
}
@media (min-width: 1200px) {
  .footer-12 {
    font-size: 84px;
    font-weight: normal;
    color: rgba(44, 62, 80, 0.2);
    font-weight: 800;
  }
}
@media (max-width: 1199px) {
  .footer-12 {
    font-size: 82px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .footer-12 {
    font-size: 56px;
    font-weight: normal;
    color: rgba(44, 62, 80, 0.2);
    font-weight: 800;
  }
}
@media (max-width: 767px) {
  .footer-12 {
    font-size: 36px;
    font-weight: normal;
    color: rgba(44, 62, 80, 0.2);
    font-weight: 800;
  }
  .footer-12 [class*="fui-"] {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .footer-12 {
    font-size: 26px;
    font-weight: normal;
    color: rgba(44, 62, 80, 0.2);
    padding-top: 150px;
    font-weight: 800;
  }
  .footer-12 [class*="fui-"] {
    font-size: 18px;
    font-weight: normal;
    color: #e74c3c;
  }
}
/**
 * Footer 13 stylesheet  
 * */
.footer-13 {
  padding-top: 44px;
  padding-bottom: 40px;
  background: #ebedee;
  text-align: center;
}
.footer-13 a {
  font-weight: normal;
}
.footer-13 > .container {
  position: relative;
}
.footer-13 > .container > [class*="fui-"] {
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -12px;
  font-size: 24px;
  font-weight: normal;
  color: #e74c3c;
}
.footer-13 nav {
  font-size: 12px;
  font-weight: normal;
  color: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer-13 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-13 nav ul li {
  float: left;
  margin-left: 130px;
  line-height: 25px;
}
@media (max-width: 991px) {
  .footer-13 nav ul li {
    margin-left: 70px;
  }
}
@media (max-width: 767px) {
  .footer-13 nav ul li {
    margin-left: 20px;
  }
}
.footer-13 nav ul li:first-child {
  margin-left: 0;
}
.footer-13 nav ul li a {
  color: #95a5a6;
}
.footer-13 nav ul li a:hover,
.footer-13 nav ul li a:focus,
.footer-13 nav ul li a.active {
  color: #e74c3c;
}
@media (max-width: 620px) {
  .footer-13 > .container > [class*="fui-"] {
    display: none;
  }
}
@media (max-width: 520px) {
  .footer-13 nav {
    float: none !important;
    text-align: left;
  }
  .footer-13 nav.pull-right {
    margin-top: 18px;
  }
  .footer-13 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-13 nav ul li:first-child {
    margin-top: 0;
  }
}
/**
 * Footer 14 stylesheet  
 * */
.footer-14 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f4f5f6;
  line-height: 25px;
}
.footer-14 .brand {
  position: absolute;
  top: 0;
  left: 15px;
}
.footer-14 a {
  color: #95a5a6;
  font-weight: 500;
}
.footer-14 a:hover,
.footer-14 a:focus,
.footer-14 a.active {
  color: #e74c3c;
}
.footer-14 nav {
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0 100px;
}
.footer-14 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-14 nav ul li {
  float: none;
  display: inline-block;
  margin-left: 50px;
  line-height: 25px;
}
@media (max-width: 767px) {
  .footer-14 nav ul li {
    margin-left: 20px;
  }
}
.footer-14 nav ul li:first-child {
  margin-left: 0;
}
.footer-14 .social-btns {
  position: absolute;
  top: 0;
  right: 15px;
  white-space: nowrap;
}
.footer-14 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #95a5a6;
  width: 16px;
  height: 25px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.footer-14 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-14 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-14 .social-btns > *:hover > * {
  top: -100%;
}
@media (max-width: 480px) {
  .footer-14 .brand {
    display: none;
  }
  .footer-14 nav {
    text-align: left;
    margin: 0;
  }
  .footer-14 nav ul li {
    float: none;
    margin: 18px 0 0;
    display: block;
  }
  .footer-14 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-14 .social-btns {
    margin: 0 0 30px;
    position: relative;
    display: block;
    float: none;
    right: 0;
  }
}
/**
 * Footer 15 stylesheet  
 * */
.footer-15 {
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f4f5f6;
  text-align: right;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  font-weight: 500;
}
.footer-15 span {
  line-height: 41px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 480px) {
  .footer-15 span {
    line-height: normal;
  }
}
.footer-15 .btns {
  display: inline-block;
  margin-left: 25px;
}
.footer-15 .btns .btn {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}
.footer-15 .btns .btn:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .footer-15 {
    text-align: center;
  }
  .footer-15 .btns {
    display: block;
    margin: 10px auto 0;
  }
}
@media (max-width: 480px) {
  .footer-15 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .footer-15 .btns {
    margin: 26px auto 0;
  }
  .footer-15 .btns .btn {
    margin: 0;
    display: block;
  }
  .footer-15 .btns .btn + .btn {
    margin-top: 9px;
  }
}
body .delimiter-big {
  margin-top: 110px;
}
