/**
 * Content 10 stylesheet  
 * */
 .content-10 {
    background-color: #3B394D;
    padding-top: 130px;
    padding-bottom: 0px;
    position:relative;
    @media (max-width: 768px) {
        padding-top: 80px;
        padding-bottom: 0px;
    }

    h3 {
        margin: 0 0 20px;
        text-align: center;
        .font(35px, #ffffff);
        font-family:@font-family-demo;
        img {
            .center-block;
            margin-bottom: 35px;
        }
        @media (max-width: 767px) {
            .font(30px, #ffffff);
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
    p {
        .font(16px);
        .line-height(26px);
        font-weight: 300;

    }
    .lead {
        text-align: center;
        .font(24px, #ffffff);
        font-weight: 300;
        @media (max-width: 767px) {
            .font(18px, #ffffff);
            line-height: 1.5;
            font-weight: 300;
        }
        margin-bottom: 100px;

    }
    .features {
        .box{
            position: relative;
            padding: 50px;
            padding-right: 360px;
            // margin-top: 50px;
            min-height: 250px;
            // border-top: 2px solid @clouds;
            &.first, &:first-child, &:first-of-type {
                margin-top: 0;
                border-top: 0;
            }
            > .svg-art {
                position: absolute;
                right: 50px;
                bottom: -1px;
            }

            &.box-ligth-color{
                background-color: #4B4C67;
            }
            &.box-medium-color{
                background-color: #3E3F5C;  
            }
            &.box-dark-color{
               background-color: #323348; 
            }

            @media (max-width: 767px) {
                padding: 40px;
                padding-bottom: 0;
                margin-right: -50px;
                margin-left: -50px;

                > .svg-art {
                    margin-top: 50px;
                    position: relative;
                    right: initial;
                    bottom: inital;
                }
            }
        }
        h6 {

            text-transform: none;
            .font(18px, #FAFBFF);
            font-family:@font-family-demo;
            font-weight:500;
            margin-top: 0;
            margin-bottom: 30px;
            .line-height(1.3);
        }
        p {
            
            .font(16px, #d1d1dc);
            font-weight: 400;
        }
    }
}
