/**
 * Content 9 stylesheet  
 * */

.content-9 + .content-9 {
    margin-top: 0;
    margin-bottom: 230px;
    padding-top: 0;
    padding-bottom: 0;
}

 .content-9 {
    padding-top: 230px;
    padding-bottom: 230px;
    position:relative;
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container{
        position: initial;
        @media (max-width: 996px) {
            padding-right: 30px;
            padding-left: 30px;
        }

        @media (max-width: 991px) {
            position: relative;
        }
    }
    
    .composition-description{
        @media (max-width: 991px){
            &-right{
                text-align: left;
            }

            &-left{
                text-align: left;
            }
        }
    }

    .svg-composition-floating{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        position: absolute;
        top: 50%; 
        width: 50%; 
        transform: translateY(-50%); 
        -webkit-transform: translateY(-50%); 

        &-left{
            left: 10%; 
            padding: 0 10%;
        }

        &-right{
            right: 10%; 
            padding: 0 10%;
        }
        
        @media (max-width: 1500px) {
            &-left,
            &-right{
                padding: 0 5%;
            }
             &-left{
                left: 5%; 
            }

            &-right{
                right: 5%; 
            }
        }

        @media (max-width: 991px) {
            position: relative;
            top: initial; 
            width: 75%;
            left: 50%;
            transform: translateY(0%) translateX(-50%);
            -webkit-transform: translateY(0%) translateX(-50%);
            &-left,
            &-right{
                padding: 0;
            }

            &-left{
                margin-bottom: 15%;
            }
            &-right{
                margin-top: 15%;
            }
        }


       
    }

    h3 {
        .font(30px, @text-color-heading);
        font-family:@font-family-demo;
        margin-bottom: 24px;
        font-weight: 100;
    }
    p {
        .font(18px);
        line-height: 36px;
        font-weight: 100;         
    }
    h6 {
        text-transform: none;
        text--webkit-transform: none;
        .font(18px, @base);
        font-family:@font-family-demo;
        font-weight:100;
    }

    .svg-animated-flot-cases{
        @media (max-width: 991px) {
            margin-top: 100px;
        }

         @media (max-width: 767px) {
            margin-top: 70px;
        }
    }

    .info {
        .font(14px);
        margin-top: 40px;
        font-weight:100;
        span{
            line-height: 1.5;
        }
        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }
}
