.content-36 {
    background-image: url(../img/bg-f.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #95a5a6;
    padding-top: 230px;
    padding-bottom: 180px;
    h2 {
        color: #fff;
        font-size: 46px;
        line-height: 55px;
        margin: 0 0 30px;
        letter-spacing: 1px;
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }

    p {
        margin: 0 auto;
        width: 48%;
        font-size: 24px;
        line-height: 31px;
        font-weight: 400;
        color: #fff;
        @media (max-width: 767px) {
            width: 80%;
        }
    }
}
