/**
 * Content 6 stylesheet  
 * */
 .content-6 {
    position:relative;
    padding-top:130px;
    padding-bottom:120px;
    @media (max-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    h3 {
        margin: 0 0 20px;
        text-align: center;
        .font(35px, @text-color-heading);
        font-family:@font-family-demo;
        img {
            .center-block;
            margin-bottom: 35px;
        }
        @media (max-width: 767px) {
            margin-bottom: 15px;
            .font(30px, @text-color-heading);
        }
    }
    p {
        .font(16px);
        .line-height(26px);
        font-weight: 300;

    }
    .lead {
        text-align: center;
        .font(24px);
        font-weight: 300;
        @media (max-width: 767px) {
            .font(18px);
            line-height: 1.5;
            font-weight: 100;
        }
        margin-bottom: 100px;

    }
    .v-center;
    @media (max-width: 480px) {
        padding-bottom: 210px;
    }
    .features {
        > * {
            margin-top: 40px;
        }
        h6 {
            .font(18px, @text-color-heading);
            font-weight: 400;
            margin-bottom: 14px;
            text-transform: none;
        }
    }
}
