/**
 * Copntact 1 stylesheet  
 * */
 .contacts-1 {
    padding-top: 110px;
    padding-bottom: 110px;
    h3 {
        font-size: 30px;
        margin: 0 0 60px;
        font-weight: 300;
        @media (max-width: 480px) {
            font-size: 26px;
            margin: 0 0 30px;
        }
    }
    h6, .h6 {
        margin: 0 0 12px;
        font-size: 16px;
        text-transform: none;
        font-weight: 300;
    }
    label.h6 {
        margin-bottom: 18px;
    }
    label.h6 {
        margin-bottom: 18px;
    }
    p {
        font-size: 16px;
        line-height: 1.6;
        font-weight: 300;
    }
    b {
        .font(16px, @text-color-heading);
    }
    a {
        .a-color(#1abc9c);
    }
    form {
        margin: 0;
        input, textarea {
            .box-sizing(border-box);
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            margin-bottom: 29px;
            border-color: #ebedee;
            color: #7f8c8d;
            font-size: 17px;
            line-height: 22px;
            &:focus {
                border-color: @brand-secondary;
            }
        }
        input {
            height: 45px;
        }
        label {
            margin-bottom: 18px;
        }
        .btn {
            margin-top: 7px;
            min-width: 150px;
            [class*="fui-"] {
                font-size: 24px;
            }
        }
        .btn.btn-primary {
            &:hover, &:focus {
                background-color: @brand-secondary;
            }
            &:active, &.active {
                background-color: mix(@brand-secondary, black, 85%);
            }
        }
    }
    .additional {
        margin-bottom: 45px;
    }
    .phone {
        font-size: 1rem;
        font-family: @font-family-demo;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 1.2;
        big {
            display: block;
            font-size: 46px;
            letter-spacing: normal;
            white-space: nowrap;
            color: #5a5cbe;
            margin-bottom: 1rem;
            @media (max-width: 992px) and (min-width: 768px) {
                font-size: 32px;
            }
        }
    }
    @media (max-width: 767px) {
        > .container > .row > * + * {
            margin-top: 55px;
        }
    }
    @media (max-width: 480px) {
        form {
            margin-bottom: 80px;
            label {
                margin-bottom: 0px;
            }
        }
        .phone big {
            font-size: 40px;
        }
    }
}
